.login{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;           
  bottom: 0;
  background: url('../../images/login/loginBanner.jpg') center center no-repeat;
  background-size: cover;
  background-position: 50%;
  font-size: 14px;   
}                   